<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
    </style>
  </head>
  <body>
    <div id="root">Please enable JavaScript for this application to run correctly</div>
  </body>
</html>